<%= form_with model: movie, html: { class: "container mt-4" } do |form| %>
  <% if movie.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :duration_minutes, class: "form-label" %>
    <%= form.number_field :duration_minutes, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :origin_country, class: "form-label" %>
    <%= form.text_field :origin_country, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :genre_id, "Genre", class: "form-label" %>
    <%= form.collection_select :genre_id, Genre.all, :id, :name, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :director_id, "Director", class: "form-label" %>
    <%= form.collection_select :director_id, Director.all, :id, ->(d) { "#{d.first_name} #{d.last_name}" }, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :cover %>
    <%= form.file_field :cover %>
  </div>

  <div class="mb-3">
    <%= form.submit @movie.new_record? ? "Add Movie" : "Save Movie", class: "btn btn-primary" %>
  </div>
<% end %>