<%= form_with model: movie do |form| %>
  <% if movie.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <div class="d-flex">
      <%= form.text_field :title, id: "movie_title_field", class: "form-control" %>
      <a href="#" class="btn btn-info ms-2" onclick="window.location.href='<%= fetch_movie_details_path %>?title=' + document.getElementById('movie_title_field').value; return false;">Get Movie Details</a>
    </div>
  </div>

  <% if @poster_path.present? %>
    <div class="mb-3">
      <img src="https://image.tmdb.org/t/p/w300<%= @poster_path %>" class="img-thumbnail" alt="Movie poster">
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :duration_minutes, class: "form-label" %>
    <%= form.number_field :duration_minutes, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :origin_country, class: "form-label" %>
    <%= form.text_field :origin_country, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :genre_id, "Genre", class: "form-label" %>
    <%= form.collection_select :genre_id, Genre.all, :id, :name, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :director_id, "Director", class: "form-label" %>
    <%= form.collection_select :director_id, Director.all, :id, ->(d) { "#{d.first_name} #{d.last_name}" }, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :cover, class: "form-label" %>
    <%= form.file_field :cover, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit movie.new_record? ? "Add Movie" : "Save Movie", class: "btn btn-primary" %>
    <%= link_to "Cancel", movies_path, class: "btn btn-secondary ms-2" %>
  </div>
<% end %>