<!-- Form to search -->
<div class="card mb-4">
  <div class="card-header bg-light">
    <h5 class="mb-0">Find Movie Details</h5>
  </div>
  <div class="card-body">
    <%= form_with url: fetch_movie_details_path, method: :get, local: true do |search_form| %>
      <div class="input-group">
        <%= search_form.text_field :title, class: "form-control", placeholder: "Enter movie title" %>
        <%= search_form.submit "Get Movie Details", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>

<% if @poster_path.present? %>
  <div class="mb-4">
    <img src="https://image.tmdb.org/t/p/w300<%= @poster_path %>" class="img-thumbnail" alt="Movie poster">
  </div>
<% end %>

<!-- Main form -->
<%= form_with model: movie do |form| %>
  <% if movie.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :duration_minutes, class: "form-label" %>
    <%= form.number_field :duration_minutes, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :origin_country, class: "form-label" %>
    <%= form.text_field :origin_country, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :genre_id, "Genre", class: "form-label" %>
    <%= form.collection_select :genre_id, Genre.all, :id, :name, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :director_id, "Director", class: "form-label" %>
    <%= form.collection_select :director_id, Director.all, :id, ->(d) { "#{d.first_name} #{d.last_name}" }, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :cover %>
    <%= form.file_field :cover, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit @movie.new_record? ? "Add Movie" : "Save Movie", class: "btn btn-primary" %>
  </div>
<% end %>