<div class="container mt-4">
  <h1>Movies</h1>

  <%= link_to "New Movie", new_movie_path, class: "btn btn-primary mb-3" %>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Director</th>
        <th>Genre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.id %></td>
          <td><%= link_to movie.title, movie %></td>
          <td><%= link_to "#{movie.director.first_name} #{movie.director.last_name}", movie.director %></td>
          <td><%= link_to movie.genre.name, movie.genre %></td>
          <td>
            <%= link_to "Edit", edit_movie_path(movie), class: "btn btn-warning btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>