<%= form_with model: director, class: "container mt-4" do |form| %>
  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :birth_date, class: "form-label" %>
    <%= form.date_field :birth_date, class: "form-control" %>
  </div>

  <div class="d-flex gap-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
